<!DOCTYPE html>
<html>
<head>
  <title>Onboard Apps</title>

  <%= stylesheet_link_tag "//aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui-experimental.min.css", media: "all" %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag"//aui-cdn.atlassian.com/aui-adg/6.0.6/js/aui-experimental.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navigation/nav_header' %>
  <div class="container">
    <%= render 'shared/messages/flash_messages' %>
    <%= yield %>  
  </div>



</body>
</html>