<row>
  <div class="col-md-12">
    <table class="table table-default">
      <tbody class="show-td">
        <tr>
          <td class="bold">First Name</td>
          <td><%= poc.first_name %></td>
        </tr>
        <tr>
          <td class="bold">Last Name</td>
          <td><%= poc.last_name %></td>
        </tr>
        <tr>
          <td class="bold">Email</td>
          <td><%= poc.email %></td>
        </tr>
        <tr>
          <td class="bold">Phone</td>
          <td><%= poc.phone %></td>
        </tr>
        <tr>
          <td class="bold">Department</td>
          <td><%= poc.department %></td>
        </tr>
      </tbody>
    </table>
  </div>
</row>