<div class="show-bg">
 <row>
    <div class="col-md-9" >
      <h1 class="show-header" style="margin-left: -15px;"><%= @point_of_contact.first_name %> <%= @point_of_contact.last_name %></h1>
    </div>
    <div class="col-md-3 pull-right" style="margin-top: 30px;" >
      <h5 class="show-header"><%= link_to "Back to the dashboard", dash_path %></h5>
    </div>
  </row>
  <%= render 'table', poc: @point_of_contact %>
  <h2 class="show-header">Onboard Applications</h2>
  <% if present_apps(@own, @reporting, @assigned) %>
    <table class="table table-hover">
      <thead class="show-td bold">
        <th>Application Name</th>
        <th>Jira Ticket Id</th>
        <th>Application Url</th>
      </thead>
        <% if @own.present? %>
        <thead>
          <tr>
            <th colspan="3" style="color:#316BA2;" class="info bold">Owned</th>
          </tr>
          </thead>
          <tbody>
          <% @own.each do |app| %>
            <tr style="cursor: pointer;" onclick="appLookUp(<%= app.id %>)">
          	  <td><%= app.name %></td>
          	  <td><%= app.jira_ticket_id %></td>
          	  <td><%= app.app_url %></td>
            </tr>
          <% end %>
          </tbody>
        <% end %>
        <% if @reporting.present? %>
         <thead>
          <tr>
            <th colspan="3" style="color:#316BA2;" class="info bold">Reporting</th>
          </tr>
          </thead>
          <tbody>
          <% @reporting.each do |app| %>
            <tr style="cursor: pointer;" onclick="appLookUp(<%= app.id %>)">
          	  <td><%= app.name %></td>
          	  <td><%= app.jira_ticket_id %></td>
          	  <td><%= app.app_url %></td>
            </tr>
          <% end %>
          </tbody>
        <% end %>
        <% if @assigned.present? %>
        <thead>
          <tr>
            <th colspan="3" style="color:#316BA2;" class="info bold">Assigned</th>
          </tr>
          </thead>
          <tbody>
          <% @assigned.each do |app| %>
            <tr style="cursor: pointer;" onclick="appLookUp(<%= app.id %>)">
          	  <td><%= app.name %></td>
          	  <td><%= app.jira_ticket_id %></td>
          	  <td><%= app.app_url %></td>
            </tr>
          <% end %>
          </tbody>
        <% end %>   
    </table>
  <% end %>
  <row>
    <div class="col-md-10" style="margin-left: -15px;">
      <%= link_to edit_point_of_contact_path(@point_of_contact), class: 'btn btn-primary show-btn' do %>
       <h4 style="margin-top: 4px; font-weight: bold;" class="bold">Edit Contact</h4>
      <% end %>
      <%= link_to point_of_contact_path(@point_of_contact), method: :delete, class: 'btn btn-primary show-btn' do %>
        <h4 style="margin-top: 4px; font-weight: bold;" class="bold">Delete Contact</h4>
      <% end %>
    </div>
  </row>
</div>