<nav class="navbar navbar-fixed-top onboard-header">
  <div class="container-fluid">
    <div class="navbar-header">
      <%if user_signed_in? %>
        <a class="navbar-brand" style="cursor: pointer;" onclick="toggleSidebar()"><span class="glyphicon glyphicon-menu-hamburger nav-open-button"></span></a>
      <% end %>
      <a class="navbar-brand">
      	<h4><%= image_tag('DHS_seal.png', size: '30x30')%>  Onboard Applications</h4>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">   
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          </ul>
        </li>
      	<li style="margin-right: 5px;">
           <%= link_to destroy_user_session_path, method: :delete do %> 
              <span class="glyphicon glyphicon-log-out"></span> Sign Out
           <% end %>
        </li>
      <% else%>
        <li>
          <%= link_to new_user_registration_path, method: :get do %> 
            <span class="glyphicon glyphicon-user"></span> Sign Up
          <% end %>
        </li>
        <li style="margin-right: 5px;">
          <%= link_to new_user_session_path, method: :get  do %> 
            <span class="glyphicon glyphicon-log-in"></span> Sign In
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav> 