 <% apps.each_with_index do |app, index| %>
     <% if index % 2 == 0 %>
       <tr class="info cursor " data-link="<%= app_path(app)%>">
     <% else%>
       <tr class="cursor " data-link="<%= app_path(app)%>">
     <% end %> 
     <td><%= app.name %></td>
     <td><%= app.jira_ticket_id %></td>
     <td><%= app.app_url %></td>
     <td><%= app.epic %></td>
     <td><span class="jira jira-<%= app.status %>"><%= app.status.upcase %></span></td>
   </tr>
 <% end %>