<row>
  <div class="col-md-12">
      <table class="table table-default">
      <tbody class="show-td">
        <tr>
         <td class="bold">Jira Ticket Id:</td>
         <td><%= image_tag("jira.png", size: "25x25")%>  <%= app.jira_ticket_id %></td>
        </tr>
        <tr>
         <td class="bold">Application Url:</td>
         <td><%= link_to app.app_url, app.app_url %></td>
        </tr>
        <tr>
         <td class="bold">SSO Technology:</td>
         <td><%= app.sso_technology %></td>
        </tr>
        <tr>
         <td class="bold">Status:</td>
         <td><span class="display-status jira jira-<%= app.status.downcase %>"><%= app.status.upcase %></span>
            <select class="onselect-status" onchange="changeStatus(<%= app.id %>)">
              <option value="not_started" <%= select_option('not_started', app.status)%> >Not Started</option>
              <option value="in_progress" <%= select_option('in_progress', app.status)%>>In Progress</option>
              <option value="blocked" <%= select_option('blocked', app.status)%>>Blocked</option>
              <option value="completed" <%= select_option('completed', app.status)%>>Completed</option>
              <option value="done" <%= select_option('done', app.status)%>>Done</option>
              <option value="accepted"<%= select_option('accepted', app.status)%>>Accepted</option>
            </select>
            <span class="change-status-link cursor app_color" onclick="displayStatusChanger()">Change Status</span>
         </td>
        </tr>
        <tr>
         <td class="bold">Created At:</td>
         <td><%= app.app_created %></td>
        </tr>
        <tr>
         <td class="bold">Update At:</td>
         <td><%= app.app_updated %></td>
        </tr>
        <tr>
         <td class="bold">Epic Jira Ticket Id:</td>
         <td><%= image_tag("jira.png", size: "25x25")%> <%= app.epic %></td>
        </tr>
         <tr>
         <td class="bold">Resolution:</td>
         <td><%= app.resolution %></td>
        </tr>
        <tr>
         <td class="bold">Due Date:</td>
         <td><%= app.due %></td>
        </tr>
      </tbody>
      </table>
  </div>
</row>