<div class="show-bg">
  <row>
    <div class="col-md-9" >
      <h1 class="show-header show-header-links"><%= @app.name %></h1>
    </div>
    <div class="col-md-offset-1 col-md-2 back_to_dashboard" >
      <h6 class="show-header"><%= link_to "Back to the dashboard", dash_path %></h6>
    </div>
  </row>
  <%= render 'table', app: @app %>
  <row>
    <div class="col-md-12">
      <h2 class="show-header poc-header-table">Point Of Contacts</h2>
    </div>
  </row>
  <table class="table table-hover">
    <thead class="show-td bold">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <thead>
      <% unless @app.point_of_contacts.empty? %>
        <tr>
          <th colspan="3" class="info bold app_color">Owners</th>
        </tr>
        </thead>
        <tbody>
          <%= render 'pocs_table', pocs: @app.point_of_contacts %>
        </tbody>
      <% end %>
      <thead>
      <tr>
       <th colspan="3" class="info bold app_color">Reporter</th>
      </tr>
      </thead>
      <tbody>
        <%= render 'poc_table', poc: @app.reporter %>
      </tbody>
      <% if @app.assignee.present? %>
      <thead>
        <tr>
          <th colspan="3" class="info bold app_color">Assignee</th>
        </tr>
        </thead>
        <tbody>
          <%= render 'poc_table', poc: @app.assignee %>
      <% end %>
      </tbody>
  </table>
  <row>
    <div class="col-md-10 show-header-links">
      <%= link_to edit_app_path(@app), class: 'btn btn-primary show-btn' do %>
       <h4 class="bold show-btn-margin">Edit App</h4>
      <% end %>
      <%= link_to app_path(@app), method: :delete, class: 'btn btn-primary show-btn', data: { confirm: "You will be deleting this record. Proceed?" } do %>
        <h4 class="bold show-btn-margin">Delete App</h4>
      <% end %>
    </div>
  </row>
</div>